<dialog class="modal" id="modal-<%= technology[:id] %>">
  <div class="modal-content">
    <button class="close-modal">×</button>
    <h2><%= technology[:modal_title] %></h2>
    <p><%= technology[:modal_content] %></p>
  </div>
</dialog>