<h1>Main Technologies</h1>
<section class="content-wrapper">
  <div class="scene">
    <div class="carousel">
      <div class="carousel__cell ts">
        <div>TS</div>
        <h2>The creator of websites</h2>
        <p>TypeScript is like a brother to me, it's annoying and helpful, I hate it, but I love it, that's TS for
          me.</p>
        <button>Learn More</button>
      </div>
      <div class="carousel__cell docker"></div>
      <div class="carousel__cell azure"></div>
      <div class="carousel__cell react"></div>
      <div class="carousel__cell ruby"></div>
      <div class="carousel__cell python"></div>
    </div>
  </div>
</section>
<div style="height: 1000px;">Scroll me!</div>