@import "variables";
@import "navbar";
@import "effects";
@import "home";
@import "modal";

* {
  color: $text-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-white;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-text-size-adjust: 100%;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.content-wrapper {
  max-width: 780px;
  margin: auto;
}
