.navbar {
  background-color: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
  }

  li {
    display: inline;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    border-radius: 5px;

    &__active {
      background-color: #261B23;
    }

    :hover {
      background-color: #555;
    }
  }
}