$bg-white: #e0ebf6;
$bg-paper: #e9f2f7;
$text-primary: #232c35;
$main-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
$shadow-1: #007abf;
$react: #0081A3;
$typescript: #377cc8;
$ruby: #AE1401;
$docker: #007FFF;
$python-yellow-l: #FFE873;
$python-blue-l: #4B8bbe;
$python-yellow: #FFD43B;
$python-blue: #306998;
$azure: #008AD7;
