<nav class="navbar">
  <ul>
    <li><%= link_to t("navbar.home"), root_path, class: current_page?(root_path) ? "__active" : "" %></li>
    <li><%= link_to t("navbar.about"), about_me_path, class: current_page?(about_me_path) ? "__active" : "" %></li>
    <li><%= link_to t("navbar.login"), login_path, class: current_page?(login_path) ? "__active" : "" %></li>
    <li><%= link_to t("navbar.signup"), signup_path, class: current_page?(signup_path) ? "__active" : "" %></li>
  </ul>
</nav>
<div class="shadow"></div>
